<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedicalCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18EC4E781CA0A36E00C4961D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EC4E8C1CA0A36E00C4961D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18EC4E971CA0A36E00C4961D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
